<div ng-class="{ 'qmc-property-edit-row-layout': !ignoreEditStyle }" class="qmc-property-edit-row" ng-hide="ngModel.isHidden">
	<div class="qmc-property-edit-row-label">
		<label for="{{inputControlId}}" title="{{ignoreLocalize ? label : (label | qmcTranslate)}}">{{ignoreLocalize ? label : (label | qmcTranslate)}}</label>
		<qmc-undo-button ng-disabled="ngModel.isDisabled" ng-click="undo()" ng-if="ngModel.hasChanged && !ignoreUndo"></qmc-undo-button>
	</div>
	<div class="qmc-property-edit-row-input">
		<input type="{{password ? 'password' : 'text'}}"
			   id="{{inputControlId}}"
			   class="qmc-input"
			   maxlength="{{ngModel.maxLength}}"
			   minlength="{{ngModel.minLength}}"
			   max="{{ngModel.maxValue}}"
			   min="{{ngModel.minValue}}"
			   ng-model="ngModel.value"
			   ng-readonly="ngModel.isDisabled || ngModel.isReadonly"
			   ng-disabled="ngModel.isDisabled || ngModel.isReadonly"
			   ng-required="ngModel.isRequired"
			   ng-blur="callbackOnBlur( $event )"
			   ng-if="!ngModel.isMultiline"
			   qmc-focus="{{ngModel.focusOnLoad}}"
			   qmc-placeholder="{{ngModel.placeholder | qmcTranslate}}"
			   qmc-numeric-parser="{{ngModel.type}}"
			   qmc-date-time-formatter="{{ngModel.type === 'DateTime'}}"
			   qmc-file-size-formatter="{{ngModel.type === 'FileSize'}}" />
		<textarea class="qmc-input"
				  id="{{inputControlId}}"
				  rows="{{rows}}"
				  maxlength="{{ngModel.maxLength}}"
				  minlength="{{ngModel.minLength}}"
				  ng-model="ngModel.value"
				  ng-readonly="ngModel.isReadonly"
				  ng-disabled="ngModel.isDisabled"
				  ng-required="ngModel.isRequired"
				  ng-blur="callbackOnBlur( $event )"
				  ng-if="ngModel.isMultiline"
				  qmc-focus="{{focusOnLoad}}"
				  qmc-placeholder="{{ngModel.placeholder | qmcTranslate}}"></textarea>
		<qmc-contextual-notifier ng-if="!ngModel.isValid && ngModel.errors && !ignoreInvalid" msg-type="error" msg-string="errorMessages"></qmc-contextual-notifier>
		<qmc-contextual-notifier ng-if="ngModel.information" msg-type="info" msg-string="infoMessages"></qmc-contextual-notifier>
	</div>
</div>