<div ng-class="{ 'qmc-property-edit-row-layout': !ignoreEditStyle }" class="qmc-property-edit-row" ng-hide="ngModel.isHidden">
	<div class="qmc-property-edit-row-label">
		<label for="{{elemClass}}" title="{{label | qmcTranslate}}">{{label | qmcTranslate}}</label>
		<qmc-undo-button ng-disabled="ngModel.isDisabled" ng-click="ngModel.reset()" ng-if="ngModel.hasChanged && !ignoreUndo"></qmc-undo-button>
	</div>
	<div class="qmc-property-edit-row-input">
		<qmc-autocomplete autocomplete-search-model="autocompleteSearchModel" property-model="ngModel" is-new="isNew" on-close-callback="onCloseCallback($event)" callback-on-blur="callbackOnBlur"></qmc-autocomplete>
		<qmc-contextual-notifier ng-if="!ngModel.isValid && !ignoreInvalid" msg-type="error" msg-string="errorMessages"></qmc-contextual-notifier>
		<qmc-contextual-notifier ng-if="ngModel.information" msg-type="info" msg-string="infoMessages"></qmc-contextual-notifier>
	</div>
</div>