<qmc-edit id="qmc.stage" class="qmc-property-edit" selection-set="selectionSet" config="config" navigation-view="navigationView">
	<qmc-user-directory-edit-control class="qmc-property-edit-form" selection-set="selectionSet" set-group="config.setGroupListener" qmc-routing-message="qmcRoutingMessage" ng-show="navigationView.value==='mainEdit'"></qmc-user-directory-edit-control>
	<qmc-property-edit-associations type-name="UserDirectory" selection-set="selectionSet" navigation-view="navigationView" ng-show="navigationView.value!=='mainEdit'"></qmc-property-edit-associations>
</qmc-edit>
