<qmc-edit id="qmc.stage" class="qmc-property-edit" selection-set="selectionSet" config="config" navigation-view="navigationView">
	<qmc-content-library-edit-control class="qmc-property-edit-form" selection-set="selectionSet" qmc-routing-message="qmcRoutingMessage" ng-show="navigationView.value==='mainEdit'"></qmc-content-library-edit-control>
	<qmc-property-edit-associations type-name="ContentLibrary" selection-set="selectionSet" navigation-view="navigationView" ng-show="navigationView.value!=='mainEdit'"></qmc-property-edit-associations>
</qmc-edit>