<form class="qmc-property-edit-form" name="editForm" ng-model="editModel" data-ready="{{!inProgress}}">
	<div class="qmc-property-edit-form-stage">
		<qmc-spinner in-progress="inProgress"></qmc-spinner>
		<qmc-property-edit-empty-warning url="/tags/" ng-if="emptyWarning"></qmc-property-edit-empty-warning>
		<div class="qmc-property-edit-groups">
			<qmc-property-edit-group heading="qmc.propertyGroup.common.identification" force-show="true">
				<qmc-property-edit-text-input label="qros.Tag.name"
											  ng-model="editModel.property.name"
											  error-message-callback="errorMessageCallback"
											  id="qmc-tag-edit-name">
				</qmc-property-edit-text-input>
			</qmc-property-edit-group>
			<qmc-property-edit-group heading="qmcTagEdit.qmcPropertyEditGroup.associatedItems" force-show="true">
				<div ng-if="showTags">
					<qmc-property-edit-tag-link-table entity-type="App" label="qmc.resourceType.App" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="App.Object" label="qmc.resourceType.App.Object" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="SystemRule" label="qmc.resourceType.SystemRule" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="Extension" label="qmc.resourceType.Extension" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="ContentLibrary" label="qmc.resourceType.ContentLibrary" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="DataConnection" label="qmc.resourceType.DataConnection" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="ServerNodeConfiguration" label="qmc.resourceType.ServerNodeConfiguration" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="EngineService" label="qmc.resourceType.EngineService" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="PrintingService" label="qmc.resourceType.PrintingService" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="ProxyService" label="qmc.resourceType.ProxyService" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="VirtualProxyConfig" label="qmc.resourceType.VirtualProxyConfig" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="RepositoryService" label="qmc.resourceType.RepositoryService" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="SchedulerService" label="qmc.resourceType.SchedulerService" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="Stream" label="qmc.resourceType.Stream" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="User" label="qmc.resourceType.User" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="UserDirectory" label="qmc.resourceType.UserDirectory" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="ReloadTask" label="qmc.resourceType.ReloadTask" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
					<qmc-property-edit-tag-link-table entity-type="UserSyncTask" label="qmc.resourceType.UserSyncTask" selection-set="selectionSet"></qmc-property-edit-tag-link-table>
				</div>
			</qmc-property-edit-group>
		</div>
	</div>
	<qmc-action-alert-bar></qmc-action-alert-bar>
	<qmc-actionbar id="qmc-extension-edit-actionbar" actions="actionDefinition"></qmc-actionbar>
</form>