<!-- Some examples how to use actions -->
<p>
	<b>App actions:</b><br/>
	<lui-button ng-click="app.back()">Back</lui-button>
	<br/>
	<lui-button ng-click="app.clearAll()">Clear selections</lui-button>
	<br/>
	<lui-button ng-click="app.doReload()">Reload app</lui-button>
	<br/>
	<lui-button ng-click="app.forward()">Forward</lui-button>
	<br/>
	<lui-button ng-click="app.lockAll()">Lock all</lui-button>
	<br/>
	<lui-button ng-click="app.unlockAll()">Unlock all</lui-button>
</p>
<hr/>
<p>
	<b>Navigation actions:</b><br/>
	<lui-button ng-click="navigation.nextSheet()">Next sheet</lui-button>
	<br/>
	<lui-button ng-click="navigation.prevSheet()">Previous sheet</lui-button>
	<br/>
	<lui-button ng-click="navigation.setMode('edit')">Edit mode</lui-button>
</p>
